{
  "env": {
    "test": {
      "presets": [
        "@babel/es2017",
        "@babel/react",
        ["@babel/stage-0", {
          "decoratorsLegacy": true
        }],
        ["@babel/env", {
          "targets": {
            "node": "current"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "build": {
      "presets": [
        "@babel/es2017",
        "@babel/react",
        ["@babel/stage-0", {
          "decoratorsLegacy": true
        }],
        ["@babel/env", {
          "targets": {
            "browsers": ["last 2 versions", "ie >= 10"]
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}
